body{
    background-color:rgb(9, 68, 117) ;
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 700px; 
    margin: 0;
}

button{
    background-color: rgb(87, 193, 235);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}